import { Component } from '@angular/core';

@Component({
	selector: 'grg-ui-<%= fileName %>-preview',
imports: [

	],
	template: `

	`,
})
export class <%= previewComponentName %> {}

export const defaultImports = `
import {

} from 'grg-ui-ui/helm/<%= fileName %>';
`;

export const defaultSkeleton = `

`;
